* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.login_main{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.login_container{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.signin_form{
    padding: 0 20px;
}
.signin_form>div:nth-child(1){
    border-bottom: 2px solid rgb(207, 207, 207);
    padding: 8px 0 15px;
    margin-bottom: 20px;
}
.signin_form>div:nth-child(2){
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    border-bottom: 1px solid rgb(207, 207, 207);
    padding-bottom: 40px;
    margin: 20px 0;
}
.signin_form>div:nth-child(2)>div{
    border: 1px solid #181818;
    display: flex;
    align-items: center;
    padding: 10px 10px;
}

.signin_form>div:nth-child(2)>div>img{
    width: 8%;
    padding-right: 10px;
}
.signin_form>div:nth-child(2)>div:nth-child(2)>img{
    width: 10%;
    padding-right: 10px;
}
.signin_form>div:nth-child(2)>div>span{
    font-size: 14px;
    font-weight: 600;
}
.signin_form>div>h1{
    text-align: center;
    color: #172026;
    font-size: 17px;
    font-weight: 700;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form>div{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form>div>div{
    display: flex;
    align-items: center;
    width: 100%;
}
form>div>div>input{
    flex-grow: 1;
}
form>div>div>span{
margin: 0 10px;
}
form>div>div>button{
    background: #97c24e;
    border-radius: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 24px;
    padding: 5px 12px;
    border: none;
}
label{
    padding: 9px 2px;
    line-height: 16px;
    color: #172026;
    font-weight: 600;
    text-align: left;
}
form>input{
    margin-bottom: 10px;
}
input{
    padding: 7px 10px;
    line-height: 24px;
    color: #172026;
}
input[type='submit']{
    width: 40%;
    margin-top: 50px;
    background: #181818;
    border: 1.6px solid #181818;
    color: #fff;
    font-size: 14px;
    padding: 9px 32px 7px;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
}
.s-btn{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
form>div>a{
    text-decoration: none;
    color: #172026;
    margin-top: 40px;
}

/* ---- register section -- */
.register_section{
    border-left: #bbbbbb 1px solid;
    padding: 0 20px;
    text-align: center;
}

.register_section>div:nth-child(1){
    border-bottom: 2px solid rgb(207, 207, 207);
    padding: 8px 0 15px;
    margin-bottom: 20px;
}
.register_section>div:nth-child(1)>h1{
    text-align: center;
    color: #172026;
    font-size: 17px;
    font-weight: 700;
}
.register_section>p{
    font-size: 14px;
    color: #172026;
}
.register_section>button>a{
    text-decoration: none;
    color: white;
}
.register_section>button{
    margin-top: 30px;
    background: #181818;
    border: 1.6px solid #181818;
    color: #fff;
    font-size: 14px;
    padding: 9px 32px 7px;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
}
