
* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}


.account_main{
    width: 100%;
}
.account_container{
    width: 70%;
    margin: auto;
}
.account_header{

} 

/* ----------- welcome user */
.account_header-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}
.account_header-1>div{
    color: #172026;
}
.account_header-1>div>span{
    font-weight: 700;
}
.account_header-1>a{
    color: #172026;
    font-size: 13.5px;
    cursor: pointer;
}

/* ---------------- navigation icons */
.account_header-2{
    width: 100%;
    display: flex;
    justify-content: center;
}
.account_header-2>div{
    margin: 20px;
    text-align: center;
}
.account_header-2>div>div{
    width: 100px;
    height: 100px;
    border: 1px solid #172026;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.account_header-2>div>div>img{
    width: 60%;
    /* background: #000; */
    fill: red;
}
.account_header-2>div>span{
    color: #172026;
    font-size: 13px;
}
/* -------------------------------------- */
#wishlist_card{
    background: #97c24e;
}

.account_header-3{
    width: 100%;
}
.account_header-3>div:nth-child(1){
    display: flex;
    justify-content: space-between;
}
.account_header-3>div>h1{
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 20px;
}
.account_header-3>div>h1>span{
    color: #7f878d;
}
.wishlist_container{
    padding: 16px;
    background: #ebebeb;
    color: #172026;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    position: relative;
}

.wishlist_card{
    position: relative;
    background: white;
    padding: 10px;
}
.wishlist_card>i{
    float: right;
}
.wishlist_card>div:nth-child(2)>p{
   
}
.wishlist_card>div>img{
    width: 100%;
}
.wishlist_card>div>span{
    font-weight: 700;
}
.product_card_price {
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
}
.range_price{
    display: none;
}
.range_price_active{
    display: block;
}
.fixed_price{
    display: none;
}
.fixed_price_active{
    display: block;
}
.wishlist_card>button{
    width: 100%;
    margin-top: 20px;
    padding: 5px 10px;
    color: white;
    background: #046ca3;
    border: none;
    cursor: pointer;
}
/* ------------ */
